<mat-toolbar color="primary">
  <div style="display: flex; justify-content: center; align-items: center;">
    <img src="assets/images/logo_chill.svg" alt="icon" width="50">
  </div>
  <div>
    <a mat-raised-button [routerLink]="['/home']">Inicio</a>

    <a mat-raised-button (click)="closeSesion()" >Cerrar sesión</a>

    <!-- <span *ngIf="authService.currentUser"> {{authService.currentUsers}} </span> -->
    <a mat-raised-button [routerLink]="['/car']" [matBadge]="totalRequest" matBadgeColor="primary">
      <mat-icon> fastfood</mat-icon>
    </a>
  </div>
</mat-toolbar>
