<main>
    <section class="restaurant__container">
        <div 
            class="restaurant__container--img"
            *ngIf="restaurant"
            [style.background-image]="'url('+ restaurant.backgroundImage +')'"
        >
            <h3 class="main-title">{{restaurant.name}}</h3>
            <h5 class="subtitle">{{branchRestaurant.address}}</h5>
        </div>
    </section>

    <section class="bottom__container">
        <ng-container *ngIf="idBranchRestaurant">
            <app-branches-menu-categories [idBranchess]="idBranchRestaurant" (menuClick)="showModalMenu($event)"></app-branches-menu-categories>
        </ng-container>
    </section>

</main>