<div class="container__header">
  <h2>Adiciones</h2>
</div>

<section class="container__selection">
  <div class="container__selection--card" *ngFor="let addition of additions; let i = index">
    <mat-expansion-panel 
      hideToggle="true" 
      (opened)="selectedAddition(addition, i)"
      (closed)="deleteAddition(addition, i)"  
    >
      <mat-expansion-panel-header>
        <mat-card>
          <div 
            class="img__fondo"
            [style.background-image]="'url('+ addition.image +')'"
          >
            <h3>{{addition.name}}</h3>
            <span>${{addition.price | number}}</span>
          </div>
        </mat-card>
      </mat-expansion-panel-header>
      <div class="button__container">
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div>
          <span>{{addition.total}}</span>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

</section>