<div class="container__modal">
	<div class="container__modal--card">
		<mat-card>

			<section class="container__header">
				<div class="container__header--title">
					<mat-icon aria-label="Cerrar modal" class="pointer" (click)="modalMenuService.changeStateModalMenu()">close</mat-icon>
					<h2>
						{{menu.name}}
					</h2>
				</div>
			</section>

			<div class="container__general">
				<section class="container__imagen">
					<img [src]="menu.mainImage || menu.image" [alt]="menu.name">
				</section>
	
				<section class="container__detail">
					<p>{{menu.description || 'sin descipcion'}}</p>
				</section>

				<section>
					<mat-tab-group mat-align-tabs="center" *ngIf="menuData.length !== 0">
						<mat-tab label="Personalizar">
							<app-customization-component 
								*ngIf="menuData[0]?.customizations"
								[customizations]="menuData[0].customizations"
								(changeCustomization)="changeCustomization($event)"
							></app-customization-component>
							<app-option-component
								*ngIf="menuData[0]?.options"
								[options]="menuData[0].options"
								(changeOptions)="changeOptions($event)"
							></app-option-component>
						</mat-tab>

						<mat-tab label="Adiciones">
							<app-additions-component
								*ngIf="menuData[0]?.additions"
								[additionsInput]="menuData[0].additions"
								(changeAdditions)="changeAdditions($event)"
							></app-additions-component>
						</mat-tab>
					</mat-tab-group>
				</section>
			</div>

			<section class="container__footer">
				<app-footer-modal-component
					[mainForm]="mainForm.value"
				></app-footer-modal-component>
			</section>
		</mat-card>
	</div>
</div>