@import '../../../../assets/styles/mixins/font-style.scss';
@import '../../../../assets/styles/theme/variables.scss';

.prueba{
    height: 80px;
    width: 100%;
}
@media screen and (max-width: 470px) {
    span{
        display: none;
    }
    h6{
        display: grid;
        justify-content: center;
    }

  }
