@import '../../../../assets/styles/mixins/font-style.scss';
@import '../../../../assets/styles/theme/variables.scss';

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 1s ease;
  }

img:hover {
    // -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 75px 9px rgba(219,175,179,1);
-moz-box-shadow: 0px 0px 75px 9px rgba(219,175,179,1);
box-shadow: 0px 0px 75px 9px rgba(219,175,179,1);
  }

.item{
    & h3 {
        text-align:  center;
        @include font-style(black,'$f-avenir', 1.9rem)
    }
}