@import "../../../../assets/styles/mixins/font-style.scss";
@import "../../../../assets/styles/theme/variables.scss";

//categorias del menu
.categories__container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 60px;
    height: auto;
    width: auto;
    margin: 10px auto;
    justify-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1280px;
    padding: 20px 0;

    mat-card {
        width: 300px;
        height: 150px;
        border-radius: 10%;
    }
}

.logo {
    width: 300px;
    height: inherit;
    border-radius: 10%;
    position: relative;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
}

.sublogo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 78px;
    left: 270px;
}
.name {
    position: absolute;
    top: -150px;
    left: -5px;
    @include font-style($c-white-gray, "$f-avenir", 1.8rem, normal, uppercase);
}

.categories__container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.categories__container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.categories__container::-webkit-scrollbar-thumb {
    background-color: $c-chill-red;
    border-radius: 30px;
    border: 2px solid white;
}

//menu
.menu__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: auto;
    margin: 40px auto;
    justify-items: center;
    max-width: 1280px;

    mat-card {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        &:hover {
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.21);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.21);
        }
    }

    img {
        height: inherit;
        width: 40%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 0 0 10px;
    }

    &--right {
        width: 60%;
        // @include font-style($c-black, "$f-avenir", 1.5rem, normal, capitalize);
    }
}
.titlee {
    margin-bottom: 20px;
    font-weight: bold;
    display: -webkit-box;
    height: 26px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-style($c-black, "$f-avenir", 2rem, normal, capitalize);
}
.description {
    display: -webkit-box;
    height: 36px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-style($c-black, "$f-avesnir", 1.5rem, normal, none);
    &::first-letter {
        text-transform: uppercase;
    }
}
.price {
    @include font-style($c-black, "$f-avenir", 2rem, normal, capitalize);
    font-weight: bold;
}

button {
    @include font-style($c-white-gray, "$f-avenir", 2rem, normal, capitalize);
    background-image: linear-gradient(to left, #ff530d, $c-chill-red);
    padding: 5px 20px;
    border-radius: 10px;
}

.logoMenu {
    width: 180px;
    height: 170px;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameMenu {
    text-align-last: center;
    @include font-style($c-black, "$f-avenir", 1.8rem, normal, capitalize);
}

@media screen and (max-width: 700px) {
    .menu__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .categories__container {
        mat-card {
            width: 180px;
            height: 250px;
        }
    }

    .price {
        @include font-style($c-black, "$f-avenir", 1.5rem, normal, capitalize);
        font-weight: bold;
    }

    button {
        @include font-style($c-white-gray, "$f-avenir", 1.5rem, normal, capitalize);
    }

    .logo {
        width: 180px;
        height: 250px;
    }

    .sublogo {
        width: 100px;
        height: 110px;
        top: 140px;
        left: 140px;
    }
}
