@import '../../../../assets/styles/mixins/font-style.scss';
@import '../../../../assets/styles/theme/variables.scss';

.categories__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    overflow-x: scroll;
    height: auto;

    mat-card {
        width: 200px;
        height: 150px;
    }
}