@import '../../../../assets/styles/mixins/font-style.scss';
@import '../../../../assets/styles/theme/variables.scss';

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
    height: auto;
    margin: 10px auto;
    justify-items: center;
    // margin: 0px 0px 0px 0px;
    overflow-x: auto;
}