@import "../../../../assets/styles/theme/variables.scss";
@import "../../../../assets/styles/mixins/mixin.scss";

.container-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.7);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 350px;
	position: relative;
}
.mat-card-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include font-style($c-black, "$f-avenir", 1.6rem, normal, capitalize, normal);
}
.mat-card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	@include font-style($c-black, "$f-avenir-bold", 2.5rem, normal, capitalize, normal);
}

.buttonX {
	position: absolute;
	top: 5px;
	left: 320px;
	cursor: pointer;
}
.buttonIr {
	@include font-style($c-white-gray, "$f-avenir", 2rem, normal, capitalize);
	background-image: linear-gradient(to left, #ff530d, $c-chill-red);
	padding: 5px 20px;
	border-radius: 10px;
}
p{
	@include font-style($c-black, "$f-avenir", 1.6rem, normal, initial, normal);
}
