<div class="container-modal">
	<div class="card">
		<mat-card>
			<mat-card-header>
				<div mat-card-avatar></div>
				<mat-card-title>Sucursales:</mat-card-title>
			</mat-card-header>
			<div mat-card-image></div>
			<ng-container *ngIf="branchesFound.length !== 0; else noBranchesFound">
				<mat-card-content *ngFor="let sucursal of branchesFound">
					<div>
						{{sucursal.address + ',' }}
						{{sucursal.state }}
					</div>
					<div>
						<button  mat-button class="buttonIr" (click)="modalService.changeStateModal()" [routerLink]="['/sucursal', sucursal.id]" >  Ir </button>
					</div>
				</mat-card-content>
			</ng-container>
			<ng-template #noBranchesFound>
				<P>No hay sucursales disponibles para el restaurante seleccionado </P>
			</ng-template>
			<mat-card-actions>
				<mat-icon aria-label="Cerrar modal" class="buttonX"  (click)="modalService.changeStateModal()">close</mat-icon>
			</mat-card-actions>
		</mat-card>
	</div>
</div>