@import '../../../../assets/styles/mixins/font-style.scss';
@import '../../../../assets/styles/theme/variables.scss';

:host {
  margin: 10px auto;
  overflow-x: auto;
  padding: 0 15px;
  margin: 10px ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px auto;
    justify-items: center;
    // margin: 0px 0px 0px 0px;
    overflow-x: auto;
}
.container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: $c-chill-red;
    border-radius: 30px;
    border: 2px solid white;
}

  