<main class="page-cart-order">
    <div>
        <mat-accordion *ngFor="let data of totalRequestData">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{data.restaurant.address}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Total a pagar: <strong> ${{data.totalBranch | number }}</strong>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <section>
                    <div>
                        <div class="list" *ngFor="let data of data.dishes">
                            <img mat-card-image [src]="data.image" alt="logo menu">
                            <p>{{data.quantity}}</p>
                            <div>
                                <h4>{{data.name}}</h4>
                            </div>
                            <div>
                                <h5>${{data.totalPrice | number}}</h5>
                            </div>
                        </div>
                        <div class="button">
                            <!-- <button mat-button>Ordernar</button> -->
                            <button mat-button (click)="total()" [routerLink]="['/car/orden']">Ordernar</button>
                        </div>
                    </div>
                </section>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <div class="button">
            <button mat-button (click)="deleteCarAll()">Vaciar Carrito</button>
        </div> -->
    </div>
</main>