<section>
    <div *ngFor="let data of dataFinal">
        {{data.totalBranch}}
        <div class="list" *ngFor="let data of data.request">
            <img mat-card-image [src]="data.imagenMenu" alt="logo menu">
            <div>
                <h4>{{data.nameMenu}}</h4>
                <h5>${{data.totalPrice | number}}</h5>
            </div>
            <div>
                <mat-icon class="pointer" mat-raised-button (click)="deleteCar()">delete</mat-icon>
            </div>

        </div>
        <!-- <div class="button">
            <button mat-button (click)="deleteCarAll()">Vaciar Carrito</button>
            <button mat-button (click)="total()">Pagar total</button>
        </div> -->
        <div class="button">
            <button mat-button (click)="deleteCarAll()">Vaciar Carrito</button>
            <button mat-button (click)="total()">Pagar total {{priceTotalPay}}</button>
        </div>
    </div>
</section>




<!-- <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Self aware panel
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion> -->