/**
 * Alianza Blue
 * @color
 * @section Bluescale
 */
$c-chill-red: #FF0000;

/**
   * Alianza2 Blue
   * @color
   * @section Bluescale
   */
$c-alianza2-blue: #0370d1;

/**
   * Alianza3 Blue
   * @color
   * @section Bluescale
   */
$c-alianza3-blue: #02a2e3;

/**
   * Alianza4 Blue
   * @color
   * @section Bluescale
   */
$c-alianza4-blue: #01588d;

/**
  * Blue Scale 1st
  * @color
  * @section Bluescale
  */
$c-bluescale-1st: #00203d;

/**
  * Blue Scale 2nd
  * @color
  * @section Bluescale
  */
$c-bluescale-2nd: #01203d;

/**
  * Blue Scale 3rd
  * @color
  * @section Bluescale
  */
$c-bluescale-3th: #153256;

/**
  * Blue Scale 4th
  * @color
  * @section Bluescale
  */
$c-bluescale-4th: #002f58;

/**
  * Blue Scale 5th
  * @color
  * @section Bluescale
  */
$c-bluescale-5th: #01588d;

/**
  * Blue Scale 6th
  * @color
  * @section Bluescale
  */
$c-bluescale-6th: #0370d1;

/**
  * Blue Scale 7th
  * @color
  * @section Bluescale
  */
$c-bluescale-7th: #02a2e3;

/**
  * Blue Scale 8th
  * @color
  * @section Bluescale
  */
$c-bluescale-8th: #013158;

/**
  * Blue Scale 9th
  * @color
  * @section Bluescale
  */
$c-bluescale-9th: #57b5db;

/**
  * Blue Scale 10th
  * @color
  * @section Bluescale
  */
$c-bluescale-10th: #059bd9;

/**
  * Blue Scale 11th
  * @color
  * @section Bluescale
  */
$c-bluescale-11th: #f2f6f9;

/**
  * Blue Scale 12th
  * @color
  * @section Bluescale
  */
$c-bluescale-12th: #00a2e3;

/**
  * Blue Scale 13th
  * @color
  * @section Bluescale
  */
$c-bluescale-13th: #0063b4;

/**
  * Blue Scale 14th
  * @color
  * @section Bluescale
  */
$c-bluescale-14th: #448dd8;

/**
  * Blue Scale 15th
  * @color
  * @section Bluescale
  */
$c-bluescale-15th: #03a4ea;

/**
  * Blue Scale 16th
  * @color
  * @section Bluescale
  */
$c-bluescale-16th: #0088bf;

/**
  * Blue Scale 17th
  * @color
  * @section Bluescale
  */
$c-bluescale-17th: #005c91;

/**
  * Blue Scale 18th
  * @color
  * @section Bluescale
  */
$c-bluescale-18th: #0070d1;

/**
  * Blue Scale 19th
  * @color
  * @section Bluescale
  */
$c-bluescale-19th: #80c3f3;

/**
  * Blue Scale 20th
  * @color
  * @section Bluescale
 */
$c-bluescale-20th: #012f58;

/**
  * Blue Scale 21th
  * @color
  * @section Bluescale
 */
$c-bluescale-21th: #0367ce;

/**
   * Freshy Green
   * @color
   * @section Greenscale
   */
$c-freshy-green: #cad32c;

/**
  * Green Scale 1st
  * @color
  * @section Greenscale
  */
$c-greenscale-1st: #999c24;

/**
  * Green Scale 2nd
  * @color
  * @section Greenscale
  */
$c-greenscale-2nd: #cad32c;

/**
  * Green Scale 3rd
  * @color
  * @section Greenscale
  */
$c-greenscale-3rd: #c7cd44;

/**
  * Green Scale 4th
  * @color
  * @section Greenscale
  */
$c-greenscale-4th: #ebef5d;

/**
  * Green Scale 5th
  * @color
  * @section Greenscale
  */
$c-greenscale-5th: #a4ac16;

/**
  * Green Scale 6th
  * @color
  * @section Greenscale
  */
$c-greenscale-6th: #999c24;

/**
  * Green Scale 7th
  * @color
  * @section Greenscale
  */
$c-greenscale-7th: #d1d948;

/**
  * Green Scale 7th
  * @color
  * @section Greenscale
  */
$c-greenscale-8th: #417505;

/**
   * Olive Greeen
   * @color
   * @section Greenscale
   */
$c-olive-green: #999c24;

/**
  * Orange Scale 1st
  * @color
  * @section Orangescale
  */
$c-orangescale-1st: #c18b03;

/**
  * Orange Scale 2nd
  * @color
  * @section Orangescale
  */
$c-orangescale-2nd: #fcb80d;

/**
  * Yellow Scale 1st
  * @color
  * @section Yellowscale
  */
$c-yellowscale-1st: #fedd1e;

/**
  * Yellow Scale 2nd
  * @color
  * @section Yellowscale
  */
$c-yellowscale-2nd: #ebef5f;

/**
  * Gray Scale 1st
  * @color
  * @section Grayscale
  */
$c-grayscale-1st: #4a4a4a;

/**
  * Gray Scale 2nd
  * @color
  * @section Grayscale
  */
$c-grayscale-2nd: #59595b;

/**
  * Gray Scale 3th
  * @color
  * @section Grayscale
  */
$c-grayscale-3th: #9b9b9b;

/**
  * Gray Scale 4th
  * @color
  * @section Grayscale
  */
$c-grayscale-4th: #d8d8d8;

/**
  * Gray Scale 5th
  * @color
  * @section Grayscale
  */
$c-grayscale-5th: #b3b3b3;

/**
  * Gray Scale 6th
  * @color
  * @section Grayscale
  */
$c-grayscale-6th: #f3f5f9;

/**
  * Gray Scale 7th
  * @color
  * @section Grayscale
  */
$c-grayscale-7th: #f8f8f8;

/**
  * Gray Scale 8th
  * @color
  * @section Grayscale
  */
$c-grayscale-8th: #979797;

/**
  * Gray Scale 9th
  * @color
  * @section Grayscale
  */
$c-grayscale-9th: #f7f7f7;

/**
  * Gray Scale 10th
  * @color
  * @section Grayscale
  */
$c-grayscale-10th: #f9fbfc;

/**
  * Gray Scale 11th
  * @color
  * @section Grayscale
  */
$c-grayscale-11th: #e9e9e9;

/**
  * Gray Scale 12th
  * @color
  * @section Grayscale
  */
$c-grayscale-12th: #ebebeb;

/**
   * Medium Green
   * @color
   * @section Greenscale
   */
$c-medium-green: #c7cd44;

/**
   * Green Scale 5th
   * @color
   * @section Greenscale
   */
$c-greenscale-5th: #a4ac16;

/**
   * Darkness
   * @color
   * @section Grayscale
   */
$c-darkness: #4a4a4a;

/**
   * Wooden Gray
   * @color
   * @section Grayscale
   */
$c-wooden-gray: #59595b;

/**
   * Marmol
   * @color
   * @section Grayscale
   */
$c-marmol: #9b9b9b;

/**
   * Light Gray
   * @color
   * @section Grayscale
   */
$c-light-gray: #d8d8d8;

/**
   * White Gray
   * @color
   * @section Grayscale
   */
$c-white-gray: #f2f6f9;

/**
   * Ahuyama
   * @color
   * @section Orangescale
   */
$c-ahuyama: #c18b03;

/**
   * Peach
   * @color
   * @section Orangescale
   */
$c-peach: #fcb80d;

/**
   * Dark Bloody Red
   * @color
   * @section Redscale
   */
$c-dark-bloody-red: #b82628;

/**
   * Flushy Red
   * @color
   * @section Redscale
   */
$c-flushy-red: #ff412e;

/**
   * red
   * @color
   * @section Others
   */
$c-red: #b82628;

/**
   * black
   * @color
   * @section Others
   */
$c-black: #000000;

/**
   * white
   * @color
   * @section Others
   */
$c-white: #ffffff;
